@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Basic Web Scraper Project built in Visual Studio using Asp.Net Core Web Application.<br />
    Using Selenium and ChromeDriver, the data is scraped from Yahoo Finance Website.
</p>