@model Finance_WebScraper.Models.Stock

@{
    ViewData["Title"] = "Create";
}

<h2>Click on the Scrape button to view Stocks!</h2>

<hr />
<div>
    <form asp-action="Create">
        <input type="submit" value="Scrape" class="btn btn-default" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}